<!-- SCHOOL HEADER -->
<style>
	svg:hover, :focus {
		fill: #3942B0;
	}
</style>
<script type="text/javascript">	
	env = 'd-';
	let ImgPath = protocol + "//" + env + "cdn.cengage.com/static/sites/ngl/header-footer/"+version+"/images/";
	
	$(document).ready(function() {    
    	checkSize('#NGLSchoolImg','NGL_HED_logo');    
    	setBtnImg('.btnMenuImg','btn_menu.jpg');
    	setBtnImg('.btnSearchImg','btn_search.jpg');
    	$(window).resize(checkSize);
    	$(window).resize(setBtnImg);
	});

	function checkSize(imgId, imgName){
		let schoolHeaderLogo;
		if (window.matchMedia('(min-width: 992px)').matches){
			schoolHeaderLogo = ImgPath+imgName+'-desktop.png';			
		}else if (window.matchMedia('(max-width: 767px)').matches){
			schoolHeaderLogo = ImgPath+imgName+'-mobile.png';
		}else{
			schoolHeaderLogo = ImgPath+imgName+'-tablet.png';
		}

		$(imgId).attr('src',schoolHeaderLogo);
	}
	function setBtnImg(imgId, imgName){
		let menuBtnImg = ImgPath+imgName;			
		$(imgId).css('background-image','url(' +menuBtnImg+ ')');
	}

</script>
<div class="mainPageContainer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-2 col-sm-3 col-md-2 col-lg-2">
				<div class="title">
					<a href="//ngl.cengage.com">
						<img src="" alt="National Geographic Learning" id="NGLSchoolImg">
					</a>
				</div>
			</div>
			<div class="col-xs-5 col-sm-7 col-md-8 col-lg-8">
				<div class="market-title largeTitle" style="font-weight: 700; padding-top: 25px;">Grades K-12</div>
				<div class="market-title smallTitle" style="font-weight: 700; padding-top: 30px;">K12</div>
			</div>
			<div class="col-xs-3 col-sm-2 col-md-1 col-md-offset-1 col-lg-1" id="headerLeftMenu">
				<nav class="navbar" role="navigation">
					<!--<div class="navbar-header" id="headerSearchContainer">-->
						<button type="button" style="background-color: #FFFFFF"
							data-toggle="collapse" data-target="#headerLeftSearchLinks">
							<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
								fill="#000000" class="bi bi-search" viewBox="0 0 16 16">
								<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
							</svg>
						</button>
					<!--</div>
					<div class="navbar-header" id="headerMenuContainer">-->
						<button type="button" style="background-color: #FFFFFF" data-toggle="collapse" data-target="#headerLeftMenuLinks">
							<svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<title>menu</title>
								<defs>
									<path d="M3.99999996,18 L20,18 C20.55,18 21,17.55 21,17 C21,16.45 20.55,16 20,16 L3.99999996,16 C3.44999996,16 2.99999996,16.45 2.99999996,17 C2.99999996,17.55 3.44999996,18 3.99999996,18 Z M3.99999996,13 L20,13 C20.55,13 21,12.55 21,12 C21,11.45 20.55,11 20,11 L3.99999996,11 C3.44999996,11 2.99999996,11.45 2.99999996,12 C2.99999996,12.55 3.44999996,13 3.99999996,13 Z M2.99999996,6.99999998 C2.99999996,7.54999998 3.44999996,7.99999998 3.99999996,7.99999998 L20,7.99999998 C20.55,7.99999998 21,7.54999998 21,6.99999998 C21,6.44999998 20.55,5.99999998 20,5.99999998 L3.99999996,5.99999998 C3.44999996,5.99999998 2.99999996,6.44999998 2.99999996,6.99999998 Z" id="path-1"></path>
								</defs>
								<g id="menu" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
									<mask id="mask-2" fill="white">
										<use xlink:href="#path-1"></use>
									</mask>
									<use id="Combined-Shape" fill="#000000" xlink:href="#path-1"></use>
								</g>
							</svg>
						</button>
					<!--</div>-->
				</nav>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-5 col-sm-offset-7 col-md-4 col-md-offset-8 col-lg-4 col-lg-offset-8">
				<ul class="collapse navbar-collapse nav navbar-nav mainSearchMenuGA" id="headerLeftSearchLinks">
					<li>
						<form id="ngl-search" name="CenSearch" target="_parent" method="post" _lpchecked="1">
							<button id="header-submit" type="submit">
								<i class="fa fa-search"></i>
							</button>
							<input id="header-search" type="text" maxlength="60" autocomplete="off" size="50" placeholder="Search by title, author, ISBN, or keyword">
						</form>	
					</li>
				</ul>

				<ul class="collapse navbar-collapse nav navbar-nav mainMenuGA" id="headerLeftMenuLinks">
					<li>
						<a href="https://www.cengage.com/repfinder/natgeo?ngl=true/" >
							<span class="menuLinksText">Contact Sales Representative</span>
						</a>
					</li>
					<li>
						<a href="/CustomerSupport/" >
							<span class="menuLinksText">Customer Support</span>
						</a>
					</li>
					<li>
						<a href="/support/" >
							<span class="menuLinksText">Digital Support</span>
						</a>
					</li>
					<li>
						<a href="/assets/html/SampleNow/index.html" >
							<span class="menuLinksText">SampleNow</span>
						</a>
					</li>
					<li>
						<a href="/assets/access/sch/" >
							<span class="menuLinksText">Companion Sites</span>
						</a>
					</li>
					<!-- <li>
						<a href="http://ngl.cengage.com/assets/html/digital/" >
							<i class="fa fa-caret-up menuLinksIcon visibilityHidden" aria-hidden="true"></i>
							<span class="menuLinksText">eSamples</span>
						</a>
					</li> -->
					<li>
						<a href="/correlations" >
							<span class="menuLinksText">Correlations</span>
						</a>
					</li>
					<li>
						<a href="https://eltngl.com" >
							<span class="menuLinksText">ELT Adult and Higher Education</span>
						</a>
					</li>
					<li>
						<a href="/correlations/research" >
							<span class="menuLinksText">Evidence-Based Research</span>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);" class="subMenuparent collapsed" data-toggle="collapse" data-target="#hamburgerSubmenu1">
							
							<span class="menuLinksText">State Pages</span>
							<i class="fa fa-caret-up menuLinksIcon" aria-hidden="true"></i>
						</a>
					</li>
					<ul class="collapse navbar-collapse nav navbar-nav headerLeftMenuSubmenu" id="hamburgerSubmenu1">
						<li><a href="/search/states/al">Alabama</a></li>
						<li><a href="/search/states/ak">Alaska</a></li>
						<li><a href="/search/states/az">Arizona</a></li>
						<li><a href="/search/states/ar">Arkansas</a></li>
						<li><a href="/search/states/ca">California</a></li>
						<li><a href="/search/states/co">Colorado</a></li>
						<li><a href="/search/states/ct">Connecticut</a></li>
						<li><a href="/search/states/de">Delaware</a></li>
						<li><a href="/search/states/fl">Florida</a></li>
						<li><a href="/search/states/ga">Georgia</a></li>
						
						<li><a href="/search/states/hi">Hawaii</a></li>
						<li><a href="/search/states/id">Idaho</a></li>
						<li><a href="/search/states/il">Illinois</a></li>
						<li><a href="/search/states/in">Indiana</a></li>
						<li><a href="/search/states/ia">Iowa</a></li>
						<li><a href="/search/states/ks">Kansas</a></li>
						<li><a href="/search/states/ky">Kentucky</a></li>
						<li><a href="/search/states/la">Louisiana</a></li>
						<li><a href="/search/states/me">Maine</a></li>
						<li><a href="/search/states/md">Maryland</a></li>
						
						<li><a href="/search/states/ma">Massachusetts</a></li>
						<li><a href="/search/states/mi">Michigan</a></li>
						<li><a href="/search/states/mn">Minnesota</a></li>
						<li><a href="/search/states/ms">Mississippi</a></li>
						<li><a href="/search/states/mo">Missouri</a></li>
						<li><a href="/search/states/mt">Montana</a></li>
						<li><a href="/search/states/ne">Nebraska</a></li>
						<li><a href="/search/states/nv">Nevada</a></li>
						<li><a href="/search/states/nh">New Hampshire</a></li>
						<li><a href="/search/states/nj">New Jersey</a></li>
						
						<li><a href="/search/states/nm">New Mexico</a></li>
						<li><a href="/search/states/ny">New York</a></li>
						<li><a href="/search/states/nc">North Carolina</a></li>
						<li><a href="/search/states/nd">North Dakota</a></li>
						<li><a href="/search/states/oh">Ohio</a></li>
						<li><a href="/search/states/ok">Oklahoma</a></li>
						<li><a href="/search/states/or">Oregon</a></li>
						<li><a href="/search/states/pa">Pennsylvania</a></li>
						<li><a href="/search/states/ri">Rhode Island</a></li>
						<li><a href="/search/states/sc">South Carolina</a></li>
						
						<li><a href="/search/states/sd">South Dakota</a></li>
						<li><a href="/search/states/tn">Tennessee</a></li>
						<li><a href="/search/states/tx">Texas</a></li>
						<li><a href="/search/states/ut">Utah</a></li>
						<li><a href="/search/states/vt">Vermont</a></li>
						<li><a href="/search/states/va">Virginia</a></li>
						<li><a href="/search/states/wa">Washington</a></li>
						<li><a href="/search/states/wv">West Virginia</a></li>
						<li><a href="/search/states/wi">Wisconsin</a></li>
						<li><a href="/search/states/wy">Wyoming</a></li>
					</ul>				
					
					<li>
						<a href="/assets/html/catalogs/" >
							<span class="menuLinksText">Catalogs</span>
						</a>
					</li>
					
					<li>
						<a href="javascript:void(0);" class="subMenuparent collapsed" data-toggle="collapse" data-target="#hamburgerSubmenu3">
							
							<span class="menuLinksText">What's New</span>
							<i class="fa fa-caret-up menuLinksIcon" aria-hidden="true"></i>
						</a>
					</li>
					<ul class="collapse navbar-collapse nav navbar-nav headerLeftMenuSubmenu" id="hamburgerSubmenu3">
						<li><a href="/assets/html/mindtap/">MindTap</a></li>
						<li><a href="/bookfinder">Leveled Book Finder</a></li>
						<li><a href="/assets/html/explorers/">National Geographic Explorers</a></li>
						<li><a href="/assets/html/testimonials/">Testimonials</a></li>
						<li><a href="/assets/html/ccss/">Common Core</a></li>
						<li><a href="/assets/html/stem/">STEM</a></li>
						<li><a href="/assets/html/ngss/">NGSS</a></li>
						<li><a href="/assets/html/essa/">ESSA</a></li>
					</ul>
				</ul>
				</div>
			</div>
	</div>
</div>
