<!--Primary Home Footer-->
<div class="EltfooterOpenContainer">
	<div class="mainPageContainer">
		<div class="footerContainer">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
					<p id="footerMiddleHeaderText">
						Visit <a href="http://www.nationalgeographic.com/"><strong>NationalGeographic.com</strong></a> and <a href="http://www.cengage.com/"><strong>Cengage.com</strong></a>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="footercolumnContainer">
						<ul class="nav">
							<li><p class="countryUSText">Country:&nbsp;US</p></li>
							<li><a href="https://eltngl.com/sitemap/">Site Map</a></li>
						</ul>
					</div>
					<div class="footercolumnContainer">
						<ul class="nav">
							<li><a href="http://www.cengage.com/investor/">Investors</a></li>
							<li><a href="http://news.cengage.com/">News</a></li>
						</ul>
					</div>
					<div class="footercolumnContainer">
						<ul class="nav">
							<li><a href="http://www.cengage.com/careers/">Careers</a></li>
							<li><a href="http://www.cengage.com/copyright">Copyright Notices</a></li>
						</ul>
					</div>
					<div class="footercolumnContainer">
						<ul class="nav">
							<li><a href="http://www.cengage.com/legal/#terms">Terms of Use</a></li>
							<li><a href="https://www.cengage.com/privacy">Privacy Statement</a></li>
						</ul>
					</div>
					<div class="footercolumnContainer">
						<ul class="nav">
							<li><a href="http://www.cengage.com/accessibility/">Accessibility</a></li>
							<li><a href="http://cengagesites.com/academic/?site=4744">HEOA Policy</a></li>
						</ul>
					</div>
					<div class="footercolumnContainer">
						<ul class="nav">
							<li><a href="http://www.cengage.com/dmca/index.html">DMCA Policy</a></li>
							<li><a href="http://www.cengage.com/contact/#piracy">Report Piracy</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- <div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class="footerLeftContainer">
							<div class="footersubHeader">
								CONNECT:
							</div>
							<div class="socialMediaLogoContainer">
								<div class="socialMediaLogo">
									<a href="#" class="facebookLogo"></a>
								</div>
								<div class="socialMediaLogo">
									<a href="#" class="twitterLogo"></a>
								</div>
								<div class="socialMediaLogo">
									<a href="#" class="instagramLogo"></a>
								</div>
								<div class="socialMediaLogo">
									<a href="#" class="youtubeLogo"></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<div class="footerRightContainer">
							<div class="footersubHeader">
								CONTACT SALES:
							</div>
							<div class="socialMediaLogoContainer">
								<div class="socialMediaLogo">
									<a href="#" class="mailLogo"></a>
								</div>
								<div class="socialMediaLogo">
									<a href="#" class="callLogo"></a>
								</div>
								<div class="socialMediaLogo">
									<a href="#" class="findLogo"></a>
								</div>
							</div>
						</div>
					</div>
					<nav class="navbar" role="navigation">
						<div class="navbar-header">
							<div class="footerMenuButtonContainer">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#footerCollapseMainContainer">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
						</div>
					</nav>
				</div>
			</div> -->
		</div>
	</div>
</div>

<!-- <div id="footerCollapseMainContainer" class="collapse navbar-collapse nav navbar-nav" >
	<div class="mainPageContainer footerPadding">
		<div class="footerContainer">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="footercolumnContainer">
						<ul class="nav">
							<li><p class="countryUSText">Country:&nbsp;US</p></li>
							<li><a href="#">Accessibility</a></li>
							<li><a href="#">About</a></li>
							<li><a href="#">Investors</a></li>
							<li><a href="#">News</a></li>
						</ul>
					</div>
					<div class="footercolumnContainer">
						<ul class="nav">
							<li><a href="#">Careers</a></li>
							<li><a href="#">HEOA</a></li>
							<li><a href="#">DMCA</a></li>
							<li><a href="#">Piracy</a></li>
							<li><a href="#">Copyright</a></li>
						</ul>
					</div>
					<div class="footercolumnContainer">
						<ul class="nav">
							<li><a href="#">Permissions</a></li>
							<li><a href="#">Terms</a></li>
							<li><a href="#">Privacy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->
<!-- <script type="text/javascript">
	$(function() {

		$("#footerCollapseMainContainer.collapse").on('shown.bs.collapse', function () {
		    var $target = $('html,body'); 
			$target.animate({scrollTop: $target.height()}, 1000);
		})
	});
</script> -->