<!-- SCHOOL HEADER -->
<div class="mainPageContainer">
	<div class="container">
		<div class="row">
			<div class="col-xs-4 col-sm-3 col-md-4 col-lg-4">
				<div class="title">
					<a href="//ngl.cengage.com/elt">National Geographic Learning</a>
				</div>
			</div>
			<div class="col-xs-4 col-sm-6 col-md-4 col-lg-4">
				<div class="market-title largeTitle">English Language Teaching</div>
				<div class="market-title smallTitle">ELT</div>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-4 col-lg-4" id="headerLeftMenu">
				<nav class="navbar" role="navigation">
					<div class="navbar-header" id="headerMenuContainer">
						<button type="button" class="btnMenuImg" data-toggle="collapse" data-target="#headerLeftMenuLinks">
							
						</button>
					</div>
					<div class="navbar-header" id="headerSearchContainer">
						<button type="button" class="btnSearchImg" data-toggle="collapse" data-target="#headerLeftSearchLinks">
							
						</button>
					</div>
				</nav>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-5 col-sm-offset-7 col-md-4 col-md-offset-8 col-lg-4 col-lg-offset-8">
				<ul class="collapse navbar-collapse nav navbar-nav" id="headerLeftSearchLinks">
					<li>
						<form id="ngl-search" name="CenSearch" target="_parent" method="post" _lpchecked="1">
							<button id="header-submit" type="submit">
								<i class="fa fa-search"></i>
							</button>
							<input id="header-search" type="text" maxlength="60" autocomplete="off" size="50" placeholder="Search by title, author, ISBN, or keyword">
						</form>	
					</li>
				</ul>

				<ul class="collapse navbar-collapse nav navbar-nav" id="headerLeftMenuLinks">
					<!--<li>
						<a href="javascript:void(0);" class="subMenuparent collapsed" data-toggle="collapse" data-target="#hamburgerSubmenu1">
							<i class="fa fa-caret-up menuLinksIcon" aria-hidden="true"></i>
							<span class="menuLinksText">Contact</span>
						</a>
					</li>
					 <ul class="collapse navbar-collapse nav navbar-nav headerLeftMenuSubmenu" id="hamburgerSubmenu1">
						<li><a href="http://sites.cengage.com/RepFinder/search/natgeoesl?cid=repfinder&wb=repfinder_nglelt">Sales Representative</a></li>
						<li><a href="http://ngl.cengage.com/support/elt/">Technical Support</a></li>
					</ul> -->
					
					<li>
						<a href="http://sites.cengage.com/RepFinder/search/natgeoesl?cid=repfinder&wb=repfinder_nglelt" >
							<i class="fa fa-caret-up menuLinksIcon visibilityHidden" aria-hidden="true"></i>
							<span class="menuLinksText">Sales Representative</span>
						</a>
					</li>
					<li>
						<a href="http://ngl.cengage.com/support/elt/" >
							<i class="fa fa-caret-up menuLinksIcon visibilityHidden" aria-hidden="true"></i>
							<span class="menuLinksText">Technical Support</span>
						</a>
					</li>
					
					<li>
						<a href="http://ngl.cengage.com/contact/elt/" >
							<i class="fa fa-caret-up menuLinksIcon visibilityHidden" aria-hidden="true"></i>
							<span class="menuLinksText">Ordering</span>
						</a>
					</li>
					<li>
						<a href="http://ngl.cengage.com/access/elt/" >
							<i class="fa fa-caret-up menuLinksIcon visibilityHidden" aria-hidden="true"></i>
							<span class="menuLinksText">Resource Websites</span>
						</a>
					</li>
					<li>
						<a href="http://ngl.cengage.com/infocus" >
							<i class="fa fa-caret-up menuLinksIcon visibilityHidden" aria-hidden="true"></i>
							<span class="menuLinksText">News & Events</span>
						</a>
					</li>
					<!-- <li>
						<a href="javascript:void(0);" class="subMenuparent collapsed" data-toggle="collapse" data-target="#hamburgerSubmenu3">
							<i class="fa fa-caret-up menuLinksIcon" aria-hidden="true"></i>
							<span class="menuLinksText">Teacher Development</span>
						</a>
					</li>
					<ul class="collapse navbar-collapse nav navbar-nav headerLeftMenuSubmenu" id="hamburgerSubmenu3">
							<li><a href="http://elteach.com/">EL Teach</a></li>
							<li><a href="http://ngl.cengage.com/search/showresults.do?N=200+4294904722">Related Materials</a></li>
					</ul> -->
					<li>
						<a href="javascript:void(0);" class="subMenuparent collapsed" data-toggle="collapse" data-target="#hamburgerSubmenu4">
							<i class="fa fa-caret-up menuLinksIcon" aria-hidden="true"></i>
							<span class="menuLinksText">Technology</span>
						</a>
					</li>
					<ul class="collapse navbar-collapse nav navbar-nav headerLeftMenuSubmenu" id="hamburgerSubmenu4">
							<li><a href="http://ngl.cengage.com/assets/html/tech/">Learn About</a></li>
							<li><a href="http://ngl.cengage.com/myelt">My ELT</a></li>
							<li><a href="https://www.myngconnect.com">myNGconnect</a></li>
							<li><a href="http://ngl.cengage.com/assets/html/ebooks/index.html">eBooks</a></li>
					</ul>
				</ul>
			</div>
	</div>
</div>