<!--ELT FOOTER-->
<div class="EltfooterOpenContainer">
	<div class="mainPageContainer">
		<div class="footerContainer">
			<div class="row">
				<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 text-left">
					<a href="//ngl.cengage.com" id="EltfooterHeaderText">
						NGL.Cengage.com
					</a>
				</div>

				<div class="col-xs-6 col-sm-3 col-sm-push-5 col-md-3 col-md-push-5 col-lg-3 col-lg-push-5">
					<div class="footerRightContainer">
						<div class="EltfooterRightText">
							<a href="http://sites.cengage.com/RepFinder/search/natgeoesl?cid=repfinder&wb=repfinder_nglelt" class="EltfooterContactLink">
								CONTACT SALES:
							</a>
						</div>
						<div class="socialMediaLogoContainer">
							<div class="socialMediaLogo">
								<a href="http://sites.cengage.com/RepFinder/search/natgeoesl?cid=repfinder&wb=repfinder_nglelt" class="mailLogo"></a>
							</div>
							<div class="socialMediaLogo">
								<a href="http://sites.cengage.com/RepFinder/search/natgeoesl?cid=repfinder&wb=repfinder_nglelt" class="callLogo"></a>
							</div>
							<div class="socialMediaLogo">
								<a href="http://sites.cengage.com/RepFinder/search/natgeoesl?cid=repfinder&wb=repfinder_nglelt" class="findLogo"></a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-sm-5 col-sm-pull-3 col-md-5 col-md-pull-3 col-lg-5 col-lg-pull-3 text-center">
					<p id="footerMiddleHeaderText">
						Visit <a href="http://www.nationalgeographic.com/"><strong>NationalGeographic.com</strong></a> and <a href="http://www.cengage.com/"><strong>Cengage.com</strong></a>
					</p>
				</div>
				
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="footercolumnContainer">
						<ul class="nav">
							<li><p class="countryUSText">Country:&nbsp;US</p></li>
							<li><a href="http://ngl.cengage.com/sitemap/">Site Map</a></li>
						</ul>
					</div>
					<div class="footercolumnContainer">
						<ul class="nav">
							<li><a href="http://www.cengage.com/investor/">Investors</a></li>
							<li><a href="http://ngl.cengage.com/about/elt/">About</a></li>
						</ul>
					</div>
					<div class="footercolumnContainer">
						<ul class="nav">
							<li><a href="http://www.cengage.com/careers/">Careers</a></li>
							<li><a href="http://www.cengage.com/permissions/">Permissions</a></li>
						</ul>
					</div>
					<div class="footercolumnContainer">
						<ul class="nav">
							<li><a href="http://www.cengage.com/legal/#terms">Terms of Use</a></li>
							<li><a href="http://www.cengage.com/legal/#privacy">Privacy Statement</a></li>
						</ul>
					</div>
					<div class="footercolumnContainer">
						<ul class="nav">
							<li><a href="http://www.cengage.com/accessibility/">Accessibility</a></li>
							<li><a href="http://ngl.cengage.com/infocus">Infocus Blog</a></li>
						</ul>
					</div>
					<div class="footercolumnContainer">
						<ul class="nav">
							<!-- <li><a href="http://www.cengage.com/dmca/index.html">DMCA Policy</a></li> -->
							<li><a href="http://www.cengage.com/contact/#piracy">Report Piracy</a></li>
						</ul>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>